.suivi-d-etat {
    padding: 20px;
    background-color: #f0f2f5;
    min-height: 100vh;
}

.suivi-d-etat .ant-table {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.suivi-d-etat .ant-badge {
    margin-bottom: 20px;
}

.suivi-d-etat .ant-typography {
    color: #333;
}

.suivi-d-etat .ant-table-thead>tr>th {
    background-color: #1890ff;
    color: white;
}

.suivi-d-etat .ant-table-tbody>tr>td {
    color: #333;
}

.suivi-d-etat .ant-table-column-title {
    color: white;
}

.suivi-d-etat .ant-table-row {
    transition: background-color 0.3s;
}

.suivi-d-etat .ant-table-row:hover {
    background-color: #e6f7ff;
}

.status-green {
    color: #52c41a;
    /* Vert */
    font-weight: bold;
}

.status-yellow {
    color: #fadb14;
    /* Jaune */
    font-weight: bold;
}

.status-red {
    color: #ff4d4f;
    /* Rouge */
    font-weight: bold;
}


h1 {
    font-family: 'Poppins', sans-serif;
    color: #2c3e50;
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    background-color: #3498db;
    border-radius: 1px;
}