/* Style général de la page */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #edf2f7;
    font-family: 'Poppins', sans-serif;
    /* Elegant and modern font */
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.admin-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    /* Elegant and modern font */

}

.admin-actions,
.admin-notifications {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.admin-actions {
    width: 70%;
}

.admin-notifications {
    width: 28%;
    margin-left: 2%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #2c3e50;
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    background-color: #3498db;
    border-radius: 1px;
}



input[type="text"],
select,
textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* Elegant and modern font */

    margin-bottom: 10px;
}

/* Styles for the modal itself */
.modal {
    /* Adjust the modal width as needed, or use max-width for responsiveness */
    width: 1100px;
    max-width: 90%;
}

/* Styles for the modal content, ensuring it's scrollable if content overflows */
.ant-modal-body {
    max-height: 60vh;
    /* Adjust based on your needs */
    overflow-y: auto;
    /* Show vertical scrollbar if content overflows */
}

/* Ensuring the preformatted text is nicely formatted within the modal */
.modal pre {
    margin: 0;
    /* Remove the default margin */
    padding: 1em;
    background-color: #f5f5f5;
    /* Light grey background for the preformatted text */
    max-height: 50vh;
    /* Adjust based on your needs */
    overflow-y: auto;
    /* Add a scrollbar if the content is larger than the pre tag */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    /* Inner shadow for depth */
    border-radius: 4px;
    /* Slightly rounded corners for the preformatted text */
    white-space: pre-wrap;
    /* Ensure long lines wrap */
    word-wrap: break-word;
    /* Break words to prevent horizontal scrolling */
}

/* Additional styling for the loading paragraph */
.modal p {
    text-align: center;
    /* Center the loading text */
    color: #999;
    /* Light grey color for the loading text */
}

/* Style adjustments for smaller screens */
@media (max-width: 1050px) {

    .modal,
    .ant-modal-body {
        max-width: 100%;
        max-height: 75vh;
    }

    .modal pre {
        max-height: 60vh;
    }
}


/* App.css */
.bell-icon-hover {
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    /* Makes it round */
    padding: 5px;
    /* Adjust padding as needed */
    transition: background-color 0.3s;
    /* Smooth transition for background color */
}

.bell-icon-hover:hover {
    background-color: #007bff;
    /* Blue background on hover */
    color: white;
    /* Optional: change icon color to white on hover */
}


/*  333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333  */