@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


.logo-container {
    text-align: center;
    /* Center the logo horizontally */
    margin-bottom: 20px;
    /* Space between the logo and the content below */
}

.logo-container img {
    max-width: 200px;
    /* Adjust the size as needed */
    height: auto;
    /* Maintain aspect ratio */
}

.logout-menu-item {
    color: red !important;
    /* Make the logout text red */

}


/* Apps.css */
.logout-button {
    padding: 10px;
    border: 1px solid transparent;
    /* Set a transparent border to avoid shifting content on hover */
}

.logout-button:hover {
    border-color: #ff4d4f;
    /* Change border color to red on hover */
    border-radius: 0;
    /* Remove any rounded edges */
}


/* Apps.css */
.rounded-sider {
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    justify-content: space-between;
    /* Push menu and toggle button to opposite ends */
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    height: calc(100vh - 40px);
}

/* Ensure the menu is scrollable if content overflows */
.rounded-sider .ant-menu {
    flex: 1;
    /* Take up available space */
    overflow-y: auto;
    /* Enable vertical scrolling */
    margin-bottom: 48px;
    /* Give some space for the toggle button */
}

/* Adjust the main layout to have some space on the left to match the sider margin */
.ant-layout {
    margin-left: 20px;
}

/* Style the collapse button */
.ant-layout-sider-collapsed .ant-layout-sider-trigger,
.ant-layout-sider .ant-layout-sider-trigger {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 20px;
    /* Rounded corner for the collapsed state */
}